*{
    padding:0;
    margin:0;
    font-family:'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    color:black;
}
#header
{
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(6, 27, 53);
}
.container{
    padding:28px 2%;
    color: white;

}
.sticky{
       position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: rgb(6, 27, 53);
        width: auto;
    }      

.nav{
    display :flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 140px;
   
}
nav ul{
    padding-left: 426px;
}
nav ul li {
    display:inline-block;
    list-style:none;
    margin:24px 27px;
    
}
nav ul li a{
    color :white;
    text-decoration : none;
    font-size :25px;
    position : relative;
}
nav ul li a::after{
    content:'';
    width:0%;
    height:3px;
    background:greenyellow;
    position:absolute;
    left:0;
    bottom: -6px;
    transition:0.5s ;
}
nav ul li a:hover::after{
    width:100%;
}
.flex{
    display: flex;
    margin: 60px;
    margin-right: 10px;
}
.me{
    
    padding: 16px;
    margin: 60px;
}
.me h1{
    font-size: 50px;
    color:greenyellow;
}
.me p{
   
    font-size: 30px;
    padding-top: 45px;
    margin: 0px;
}
.port-folio h2
{
    margin: 30px;
    padding: 30px;
    font-size: 30px;
}
.content{
    font-size: 30px;
    margin: 60px;
}


.project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap:1rem;
  padding: 1rem 80px;
  font-size:1rem;
}
.p-class h2
{
    margin: 30px;
    padding: 30px;
    font-size: 30px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 6px;
    perspective: 1000px;
    align-items: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(6, 27, 53);
    color:white;
    padding-top: 101px;
  }
  
  .flip-card-back {
    background-color: yellowgreen;
    color: white;
    transform: rotateY(180deg);
    padding-top: 101px;
  }
  .flip-card-back a{
    font-size: 40px;
    font-weight: 100;
    color:rgb(6, 27, 53) ;
  }
  .contact{
    background-color: rgb(6, 27, 53);
  }
  .c-class{
    color: white;
    margin: 0px;
    padding: 40px;
    font-size: 30px;
    text-align: center;
  }
  .btn{
    padding: 10px;
    margin: 40px;
  }
  .btn a{
    border: 5px solid white;
    background: white;
    color : rgb(6, 27, 53);
    margin: 40px;
    padding: 10px;
    text-decoration : none;
    text-align:center;
    width: 200px;
    position : relative;
  }
  
  .btn a:hover{
    background-color: yellowgreen;
}
.foot{
    color:white;
    background-color: black;
    padding-top: 60px;
    text-align: center;
    margin: 0px;
    
  }
  .content p{
    border:7px solid rgb(6, 27, 53);
    border-radius: 9px;
    color : white;
    background-color:rgb(6, 27, 53) ;
    box-sizing: border-box;
    box-shadow: 1px black;
    margin :30px;
    padding: 4px;
    
  }
  .foot p{
     margin: 0px;
     padding: 50px;
  }
  .foot a{
    font-size: 30px;
    justify-content: space-around;
    color: white;
    margin: 40px;
    padding: 20px;
  }
  .foot a::after{
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    
  }
  
  .foot a:hover::after {
    transform: scale(1.5); 
  }
  .s-container{
    color:black
  }
  .inner{
    color:black;
    padding-top: 20px;
  }
  .header{
    text-align:center;
    color:black;
    padding: 1rem;
    position: relative;
  }
  .header::after{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    height: 4px;
  }
  .s-container{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       justify-content: center;
       align-items: center;
       text-align: center;
       grid-gap:1rem;
       padding: 1rem 80px;
       font-size:1rem;
  }
  .skill-box{
    padding: 1rem;
    cursor: pointer;
  }
  .skill-box img{
    width: 100px;
    height: 100px;
  }
  .skill-title{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .skill-title p{
    font-size: 20px;
  }